@import 'assets/styles/theme_variables.scss';

#sidebar__main {
    height: 100vh;
    width: 250px;

    z-index: 10;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

    @include themify($themes) {
        border-right: 2px solid themed('colorBackground');
        background: themed('colorContainer');
        color: themed('colorText');
    }

    .sidebar__logo {
        text-align: center;
        font-size: 24px;

        padding: 15px 0;
    }

    .sidebar__icons {
        margin-right: 15px;
    }

    .menu__list {
        display: flex;
        align-items: center;
        justify-content: space-between;

        cursor: pointer;

        font-size: 14px;

        height: 45px;
        padding: 10px 15px;

        &:hover {
            @include themify($themes) {
                background: themed('colorBackground');
                color: themed('colorText');
            }
        }

        .single__menu {
            display: flex;
            align-items: center;
        }
    }

    .submenu {
        margin-bottom: 15px;

        .submenu__list {
            display: flex;
            align-items: center;

            cursor: pointer;

            font-size: 14px;

            padding-left: 60px;
            height: 35px;

            &:hover {
                @include themify($themes) {
                    background: themed('colorBackground');
                    color: themed('colorText');
                }
            }
        }
    }

    // Define styles for the .active class
    .menu__list.active,
    .submenu__list.active {
        @include themify($themes) {
            background: themed('colorBackground');
            color: themed('colorText');
        }

    }
}

@media (max-width: 719px) {
    #sidebar__main {
        position: absolute;
    }
}