@import 'assets/styles/theme_variables.scss';

#sidebar__main {
    height: 100vh;
    width: 250px;

    @include themify($themes) {
        background: themed('colorContainer');
        color: themed('colorText');
    }
}

@media (max-width: 719px) {
    #sidebar__main {
        position: absolute;
    }
}