@import 'assets/styles/theme_variables.scss';

#auth__layout {
    width: 100vw;
    height: 100vh;

    @include themify($themes) {
        background: themed('colorBackground');
    }

    display: flex;
    justify-content: center;
    align-items: center;

    .login__container {
        min-width: 250px;
        width: 500px;

        margin: 10px;

        border: 1px solid red;

        background-color: rgb(35, 48, 68);
    }
}