@import 'assets/styles/theme_variables.scss';

#overview__main {


    #top__card {
        width: 100%;
        // border: 1px solid red;
        display: flex;

        padding: 7px 0;
        margin-bottom: 20px;

        .user__details {
            display: flex;
            margin-right: 25px;

            .profile__image {
                margin-right: 15px;
                width: 85px;
                height: 85px;
                border-radius: 50%;
            }

            .user___name {
                margin-top: 5px;

                div {
                    font-size: 22px;
                    font-weight: 500;
                }

                p {
                    font-size: 11px;
                    cursor: pointer;
                    color: lightblue;
                }
            }

        }

        .portfolio__value {
            margin-top: 5px;
            padding-left: 20px;

            border-left: 1px solid lightblue;

            display: flex;

            div {
                font-size: 22px;
                font-weight: 500;
            }

            p {
                font-size: 18px;
            }

        }

        .wallet__buttons {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            margin-left: 20px;
        }

    }

    @media (max-width: 719px) {
        #top__card {
            flex-direction: column;

            .user__details {
                display: none;
            }

            .portfolio__value {
                border: none;
                padding-left: 0;
            }
        }
    }


    #page__middle {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 25px;

        .table__row{
            @include themify($themes) {
                border-bottom: 1px solid themed('colorBackground');;
                color: themed('colorText');
            }
            opacity: 0.8;
        }

        #crypto__balance {
            padding: 10px;
            border-radius: 10px;

            @include themify($themes) {
                background: themed('colorContainer');
                color: themed('colorText');
            }

            .balance__table {
                margin-top: 15px;

            }
        }

        #transactions__history {
            padding: 10px;
            border-radius: 10px;

            @include themify($themes) {
                background: themed('colorContainer');
                color: themed('colorText');
            }

            .transactions__table {
                margin-top: 15px;
            }
        }
    }

    @media (max-width: 719px) {
        #page__middle {}
    }
}