/* Snackbar.scss */
#snackbar__component {
    color: #fff;
    padding: 16px;
    position: fixed;
    bottom: 20px;
    /* Distance from the bottom of the screen */
    right: 50px;
    /* Distance from the right of the screen */
    border-radius: 8px;

    .snackbar__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .success {
        background-color: green;
        color: white;
    }

    .error {
        background-color: red;
        color: white;
    }

    .warning {
        background-color: orange;
        color: white;
    }

    .close__btn {
        background-color: #fff;
        color: #333;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
        border-radius: 4px;
    }
}