* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* Use Poppins as the default font */
}

.custom__link {
  text-decoration: none;
  color: inherit;
}

/* Styling the scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Styling the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}

/* Styling the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

/* Optional: Hover effect on the thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color on hover */
}
